---
title: Home
kind: page
---

<% pages = sorted_articles.slice(0, @config[:page_size]) %>
<% pages.each do |article| %>
<div class="row-fluid">
  <div class="span12">
    <h3><%= link_to_unless_current(article[:title], relative_path_to(article)) %></h3>
    <small>Posted on <%= article[:created_at] %> in
    <% article[:tags].each do |t| %>
<%= my_link_for_tag(t, "/tags/", :label=>"#{t}") %>
<% end %></small>
    <p></p>
    <%= article.compiled_content :rep => :intro, :snapshot => :post %>
    
    <% if @config[:fbshare] %><p><%= fb_share_button %></p><% end %>
    <% if @config[:twittershare] %><p><%= twitter_share_button %></p><% end %>
    <% if @config[:gplusshare] %><p><%= gplus_button %></p><% end %>
    <% if @config[:intense_debate] %><p><%= link_to("comments &raquo", relative_path_to(article), :class=>"btn") %></p><% end %>
    <div class="span10">
      <p></p>
    </div>
  </div>
</div>
<% end %>
<div class="row-fluid">
  <div class="span12">
    <!-- <a href="#">&laquo Newer</a>-->
    <% if articles.length > pages.length %>
      <a class="pull-right" href="/page/2/">Older &raquo</a>
    <% end %>
  </div>
</div>
